header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

header .logo {
  width: 140px;
  height: auto;
}

header .buttons a {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .buttons a button {
  padding: 10px 20px;
  margin-right: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header a button:hover {
  background-color: #1a9c21;
  transform: translateY(-3px);
}

main .interviews {
  padding: 50px 230px 50px;
}

main .interviews article h2 {
  text-align: center;
  
  text-transform: uppercase;
  background: linear-gradient(106deg, rgba(26,60,32,1) 0%, rgba(14,133,7,1) 45%, rgba(10,201,40,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .interviews article h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: var(--light-grey);
}

main .interviews article p {
  text-align: justify;
  margin-bottom: 24px;
  margin-top: 24px;
  color: var(--light-grey);
}

main .interviews article .border .border-line {
  width: 100%;
  height: 1px;
  background: #B6B6B6;
  margin-bottom: 24px;
  margin-top: 10px;
}