<header>
  <img
    src="images/GREEN-CODE-WORD-PNG-2.png"
    alt="Foto do logo da Green Code"
    class="logo"
  />
  <div class="buttons">
    <a href="/">
      <button>
        Voltar para a página inicial
      </button>
    </a>
  </div>
</header>
<main>
  <div class="interviews">
    <article class="interviews-diego">
      <h2>Entrevista com agroecólogo Diego</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <p>
          Diego Miranda, agroecólogo e especialista em desenvolvimento
          territorial sustentável, é CEO da empresa Livre Gestão Inteligente,
          que atua com agricultura sustentável. De acordo com Diego, Sistemas
          Agroflorestais (SAFs), ou simplesmente agroflorestas, tratam-se de um
          modelo de agricultura que busca “imitar” uma floresta, a fim de
          promover diversidade. Logo, a produção ocorre de forma integrada, com
          o cultivo de árvores frutíferas nativas, ervas medicinais, hortaliças,
          entre outras tipos de árvores, podendo estar integrada com a pecuária,
          a apicultura e a meliponicultura. Diante disso, as agroflorestas
          promovem a produção de uma variedade de culturas que geram lucro
          economicamente, além de auxiliar na defesa, servindo como uma barreira
          para o vento, e protegendo a produção contra insetos e algumas
          doenças.
        </p>
        <p>
          Sendo o principal destaque desse sistema, a sustentabilidade
          ambiental, ecológica e econômica, aliada à ética de proporcionar
          segurança alimentar e cuidados com os insetos benéficos para o meio de
          produção, possibilitando, assim, a preservação do meio ambiente.
        </p>
        <p>
          Ademais, Diego afirma: “O principal benefício das agroflorestas é a
          ética. O mundo, a população e a humanidade estão doentes de ética
          (...) trazendo para o nosso bioma Caatinga, que está altamente
          devastado. (...) Por exemplo, Irecê tem apenas 4% da caatinga. Então,
          o Sistema Agroflorestal traz sustentabilidade, (...) primeiro porque
          você não usa veneno e tem métodos já pesquisados e comprovados de
          produtividade, que trazem o plantio de árvores frutíferas, o plantio
          de árvores nativas e a conservação das abelhas. (...) Então, ao mesmo
          tempo que você está produzindo alimentos saudáveis diversificados,
          (...) você está conservando o bioma da caatinga, além de não trazer
          doenças para as famílias, traz renda e uma sustentabilidade a longo
          prazo”. Ele finaliza sua fala, defendendo que esse sistema de produção
          garante, além de diversidade e nutrição, a ética ambiental, social e
          ecológica. Além disso, são muito rentáveis economicamente, uma vez
          que, na contemporaneidade, a busca por uma alimentação saudável está
          em constante crescimento.
        </p>
        <p>
          Ao ser questionado a respeito da viabilidade da implementação desses
          sistemas no território de Irecê, ele argumentou que, além de viáveis,
          esses sistemas, juntamente com os Sistemas Integrados de Produção
          Agroecológica, são a melhor alternativa como modo de produção agrícola
          para a região. Isso se deve ao fato de que a agricultura familiar é a
          dominante no território, e esses sistemas representam a única
          alternativa economicamente viável e com melhor custo-benefício para
          serem implantados pelas famílias e agricultores do território.
        </p>
        <p>
          Apesar de ser um método de plantio viável para o território de Irecê,
          há uma resistência dos agricultores familiares em relação à eficiência
          das agroflorestas, Diego argumenta que essa postura está
          intrinsecamente ligada ao receio comum diante de ideias inovadoras.
          Ele explica que a quebra de paradigmas tende a ser intimidante para
          aqueles que estão a muito tempo enraizados às ideias tradicionais.
          Apesar disso, o agroecólogo acredita que, com as medidas adequadas,
          essa visão receosa pode ser superada, sugerindo ações que promovam o
          tema e levem conhecimento acerca do tema para os agricultores da
          região.
        </p>
        <p>
          O agroecólogo reflete que existe uma falta de suporte para as
          agriculturas familiares, responsáveis pela maior parte das produções
          da região, onde não há assistência técnica especializada e
          agroecológica, além de não haver assistência do estado, o que
          dificulta assim o fortalecimento para essa nova forma de cultivo.
        </p>
        <p>
          Dados mostram que, atualmente, muitas áreas já sofrem com o processo
          de desertificação, o qual é resultado do desmatamento, do uso indevido
          do solo, da utilização de grandes maquinários, produtos químicos,
          entre outros. Tendo em vista que os SAFs são baseados em princípios
          agroecológicos, Diego explica que, durante a implantação desses
          sistemas, o solo é tratado como um elemento vivo, pois é composto de
          uma diversidade de microrganismos fundamentais para o solo, as plantas
          e consequentemente todos os outros seres vivos. Ele diz: “A partir do
          momento em que você enxerga o solo como um elemento vivo, qual é o
          sentido em colocar veneno em algo que você vê como vivo? No sistema
          agroflorestal, (...) o início do processo é a recuperação do solo
          através da inserção de matéria orgânica, de biofertilizantes (...)”.
          Logo, essa utilização de biofertilizantes, em conjunto com a plantação
          de uma sucessão de plantas com período curto, médio e longo, garante o
          cuidado e a recuperação de solos degradados.
        </p>
        <p>
          Nos sistemas agroflorestais, também há o uso racional dos recursos
          hídricos, com estratégias inteligentes para otimizar a retenção de
          água no solo. Diego cita que utiliza a cobertura vegetal para que esse
          fator venha a ocorrer, pois o solo nu, desencadeia a evaporação da
          água do solo de forma rápida. Ele declara: “Não trabalhamos com o solo
          chamado nu, onde a luz solar vem e ali já evapora essa água. Com a
          cobertura vegetal e o gotejamento, a gente cria uma barreira física em
          cima do solo, (...) onde a água evapora, mas fica na superfície das
          folhas, garantindo a água nas raízes mais rasas, como o alface e o
          coentro.”, havendo assim uma visão sistêmica, e uma forma de aplicação
          tecnológica.
        </p>
        <p>
          Quando há pouca disponibilidade de água, Diego afirma que há uma
          limitação no que tange o tamanho do sistema, no entanto com estudo e
          planejamento é possível implementá-lo. Nesse caso, o sistema passaria
          a ser de sequeiro, o que ele chamou de “multiplicação da caatinga, com
          um viés econômico”, e para que ocorra sua implantação é realizado um
          estudo do solo e dos recursos hídricos, por mínimo que sejam, a fim de
          realizar o plantio de culturas nativas que melhor se desenvolvam nessa
          condições, e que garanta renda para a família.
        </p>
        <p>
          Para o agroecólogo, o processo de implantação cuidado de um Sistema
          Agroflorestal exige estudo e planejamento, tratando-se portanto de um
          processo coletivo. Além disso, é necessária a plantação de culturas
          favoráveis, que possuam potencial financeiro, por exemplo, o umbu, o
          juá e a babosa. Assim, é essencial ter uma visão mais sistêmica e
          holística, possibilitando o cultivo de culturas que vão além do milho,
          da mamona e da cebola, por exemplo, abrangendo assim uma diversidade
          de alimentos.
        </p>
        <p>
          Ao falar sobre o tratamento de pragas, traz-se o uso de inseticidas
          naturais, onde com a mistura de produtos naturais obtém-se uma forma
          de intervenção do ataque nas plantações, apresentou como exemplo a
          pimenta do reino com babosa, já utilizada pelo agroecólogo. Ele ainda
          completa: “Olha o custo lá em baixo, e a eficiência lá em cima. O que
          está faltando na agricultura é uma visão linear, o exercício
          criticidade, o agricultor e a agricultora está precisando da
          autoestima de entender que os protagonistas da agricultura são as
          famílias, não o doutor a e b, (...) quem tem o conhecimento e sabe o
          que precisa, é quem está lá dentro, mas, essas pessoas também precisam
          abrir a mente para novas possibilidades”.
        </p>
        <p>
          Apesar da escassez de chuvas da região, as quais estão diminuindo
          ainda mais ao longo dos anos, Diego defende que deveria haver uma
          organização social, ou seja, a junção de iniciativa privada e pública,
          e instituições de ensino para o estudo de tecnologias que possibilitem
          o armazenamento e a conservação da água. Esta, poderia ser utilizada
          para suprir as necessidades hídricas para a implantação das
          agroflorestas.
        </p>
        <p>
          Existem algumas iniciativas por parte do governo federal, através do
          Ministério de Desenvolvimento Agrário, há alguns editais e créditos,
          como a Bioeconomia e o Planapo (Plano Nacional de Agroecologia e
          Orgânicos), que realiza ações de incentivo financeiro e também apoio
          para a transição agroecológica, sustentável e de preservação
          ambiental. Mas, Diego opina que ainda assim são insuficientes, e que é
          necessário mais envolvimento e verbas nas secretarias municipais.
        </p>
        <p>
          Para aqueles que desejam implementar o SAF em sua propriedade, Diego
          recomenda primeiramente que o agricultor procure assistência técnica,
          para que receba o devido auxílio para o planejamento do sistema. Ele
          afirma que “Um sistema agroflorestal ou um sistema integrado de
          produção agroecológica traz a necessidade de planejamento, então,
          antes de colocar a mão na massa, (...) devemos ter a responsabilidade
          técnica de planejar para que cada passo seja dado em seu devido tempo
          e valor”.
        </p>
        <p>
          A respeito dos sistemas já implantados no território de Irecê, Diego
          diz “O Sistema Integrado de Produção Agroecológica, que também traz o
          Sistema Agroflorestal Inserido no Projeto, nós temos aqui na cidade de
          Irecê dois implementados, Jussara tem dois implantados e já estamos na
          implantação do terceiro, Uibaí, foi abandonado por um tempo e agora
          estamos restaurando, (...). Alguns dependem muito do manejo, das
          pessoas que estão cuidando, e não apenas do sistema agroflorestal,
          (...) então onde tem uma mão de obra adequada a coisa flui, onde não
          tem, a tendência a necessitar de maiores cuidados”.
        </p>
        <p>
          Portanto, na entrevista Diego trouxe uma série de informações acerca
          do que são os Sistemas Agroflorestais e como estes são importantes
          para a recuperação do bioma Caatinga no território de Irecê. Além
          disso, o agroecólogo destaca a viabilidade da implementação desses
          sistemas no território de Irecê, mencionando inclusive a existência de
          Sistemas Agroflorestais (SAFs) já em operação na região.
        </p>
    </article>

    <article class="interviews-diogo">
      <h2>Entrevista com agroecólogo Diogo</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <p>
          Diogo Carvalho Machado, engenheiro agrônomo e professor de
          agropecuária no CETEP de Irecê, compartilha nesta entrevista
          informações valiosas acerca da agricultura familiar na região de
          Irecê, oferecendo uma visão técnica e especializada sobre os modelos
          de irrigação, sequeiro e Sistemas Agroflorestais, destacando sua
          pertinência para o cultivo agrícola local.
        </p>
        <p>
          Historicamente, o território de Irecê sempre esteve muito ligado à
          agricultura, impulsionada pela regularidade das chuvas característica
          de anos atrás, que contribuiu para o desenvolvimento das produções
          agrícolas. De acordo com Diogo, a partir dos anos 2000 houve um
          aumento na escassez de chuvas na região, o que acarretou em uma
          redução considerável na produção nos últimos anos. Diante disso, o
          agrônomo afirma que essa diminuição das chuvas representa o principal
          motivo que levou o crescimento do cultivo irrigado ultimamente.
        </p>
        <p>
          Com essa nova realidade, a região precisou de uma nova forma integrada
          de produção, agregando plantas nativas da caatinga, junto com plantas
          frutíferas, além de hortaliças, formando as chamadas agroflorestas.
          Isso possibilita maior produtividade, favorecendo, dessa forma, o
          solo, a parte biológica da vida e os recursos hídricos da região,
          resultando também na diminuição do índice de pragas e na maior
          qualidade do produto final. Diogo argumenta que o auxílio das
          secretarias, associações, prefeituras, organizações não governamentais
          e políticas públicas é o alicerce para a maior eficiência desse
          sistema.
        </p>
        <p>
          Além disso, Diogo afirma: “O uso dos defensivos químicos é
          frequentemente defendido por ser um produto que tem maior facilidade
          de resposta ao solo. Só que nós sabemos que, hoje, quando você utiliza
          uma adubação correta, uma adubação orgânica, um manejo de solo, o uso
          de um defensivo natural vai ser tão eficiente quanto o adubo químico e
          o defensivo químico.” Assim, ele defende que os dois possuem
          eficiência; porém, o que os diferencia é que o químico destroi a parte
          biológica do solo, enquanto o defensivo orgânico protege o solo e a
          planta por mais tempo, garantindo o cultivo de um alimento saudável.
        </p>
        <p>
          Diogo alega que a agricultura familiar em nossa região tem passado por
          mudanças significativas ao longo dos anos, especialmente em relação
          aos períodos de chuva. Hoje, os longos períodos de estiagem têm
          causado grandes prejuízos, afetando não só nossa região, mas todo o
          território brasileiro. Esses intervalos prolongados e secos vêm se
          tornando mais frequentes, impactando gravemente a produtividade,
          particularmente a produção de sequeiro, que tem diminuído de forma
          acentuada.
        </p>
        <p>
          Ele ressalta que nossa região é rica em culturas como feijão, milho e
          árvores frutíferas, mas destaca que, antigamente, havia uma maior
          dependência da agricultura de sequeiro. No entanto, fatores como a
          devastação ambiental, a redução dos mananciais hídricos e as mudanças
          climáticas têm tornado essa prática cada vez mais difícil. Além disso,
          essa realidade afeta diretamente nossa herança cultural, que
          tradicionalmente envolvia o uso de plantas resistentes a períodos
          prolongados de seca. Com esses ciclos de estiagem mais severos, toda a
          produção agrícola é prejudicada.
        </p>
        <p>
          De acordo com o agrônomo, o território de Irecê é uma região semiárida
          e isto não deve ser visto como uma fator limitante, mas deve ter seu
          potencial explorado. Assim, ele destaca a importância do estudo de
          culturas favoráveis ao território, juntamente com o manejo adequado do
          solo, a fim de garantir uma maior produtividade.
        </p>
        <p>
          Para Diogo, a inovação tecnológica foi crucial para a agricultura,
          pois adubos eficientes e sementes adaptadas à região, juntamente com o
          uso de maquinários específicos e drones, facilitam o manejo e o
          controle. Portanto, para ele, a tecnologia é vista como uma aliada na
          melhoria da eficácia da produção agrícola, desde que seja utilizada
          com respeito aos limites da natureza.
        </p>
        <p>
          O professor pontua que Irecê foi, por muitos anos, considerada a
          capital do feijão, devido ao controle das chuvas e da grande
          fertilidade dos solos. No entanto, a má estruturação de associações e
          cooperativas, ligadas às condições climáticas adversas, tem causado
          uma diminuição na produtividade. Diante disso, ele afirma que,
          atualmente, os agricultores estão diversificando mais a produção,
          cultivando hortaliças e frutas, por exemplo.
        </p>
        <p>
          Para ele, a produção de sequeiro apresenta maiores vantagens em
          relação à irrigação, pois tem um baixo custo de implantação, não há a
          utilização de produtos químicos e requer um menor custo operacional,
          além de proporcionar uma proteção do solo diferente do sistema
          irrigado. Ele ressalta que as irrigações são importantes devido à
          falta de chuva na região, porém, há um déficit de mão de obra
          especializada nesse modelo.
        </p>
        <p>
          O docente ressalta que não apenas a região de Irecê, mas também grande
          parte do Brasil, vem sofrendo com o uso excessivo de sementes
          modificadas geneticamente, as chamadas transgênicas, que causam um
          grande impacto negativo, tanto à produtividade quanto ao setor
          biológico do solo. Ele destaca que Irecê sempre apresentou uma grande
          produtividade por utilizar sementes crioulas, conhecidas como sementes
          da paixão, que são aquelas que podem ser replantadas anualmente,
          preservando a biodiversidade e a cultura local.
        </p>
        <p>
          O agrônomo destaca que os principais desafios enfrentados para
          implementar esses sistemas em Irecê são os longos períodos de
          estiagem, tendo em vista que o território passa por aproximadamente 8
          meses do ano sem a presença de chuvas. Outro desafio é a falta de
          conhecimento por parte dos produtores, que geralmente praticam o
          monocultivo (cultivo de um único tipo de planta). Porém, ele ressalta
          que, quando o cultivo ocorre de forma integrada entre plantas, a
          incidência de pragas diminui, aumentando a produtividade.
        </p>
        <p>
          Para Diogo, a utilização excessiva dos agroquímicos juntamente com o
          uso das máquinas na agricultura, são fatores que contribuíram para o
          desenvolvimento de grandes áreas de desmatamento, ou até mesmo de
          desertos na região. Devido a isso, Diogo diz: “Então o pequeno
          produtor que utiliza suas técnicas de manejo de solo, seus cuidados
          com a planta, saber plantar no momento certo, (…) boa parte disso foi
          ficando ao longo do tempo”. Assim, ele termina sua fala destacando que
          essa busca por produtividade a todo custo acaba fazendo com que os
          agricultores se esqueçam da parte mais importante que é o cuidado com
          a vida do solo.
        </p>
        <p>
          A respeito da prática de “limpar” a roça a partir da queima, Diogo
          relata: “O uso dessas queimadas até um certo ponto faz com que o solo
          tenha uma produtividade relativamente boa, só que inicialmente. (...)
          Mas há um grande problema, a questão da vida do solo, a biologia do
          solo. Ao passo que eu faço a queimada, eu estou destruindo a parte
          biológica”. Assim, ele afirma que como forma de reverter os danos
          causados ao solo pelas queimadas, as pessoas normalmente utilizam
          adubos químicos em excesso, o que acaba desencadeando a perda da
          fertilidade do solo, uma vez que as plantas tornam-se dependentes do
          uso desse adubo. Ademais, o uso deste produtos acaba causando o
          lixiviamento e contaminando os lençois freáticos.
        </p>
        <p>
          Segundo o agrônomo, as agroflorestas são sistemas de cultivo que
          demandam um planejamento cuidadoso, onde a seleção das espécies
          vegetais é fundamental. Ao analisar as opções e optar por aquelas que
          melhor se adequam ao clima e ao solo da região, e que atendam aos
          objetivos do produtor, garante-se não apenas o respeito aos limites de
          cada espécie, mas também a maximização dos resultados para a
          propriedade. O docente alega que o planejamento também se aplica aos
          Sistemas Agroflorestais integrados com a criação de animais,
          conhecidos como agrossilvipastoris. Nesse caso, a escolha dos animais
          deve ser feita de forma estratégica, de modo que a convivência entre
          eles e as plantas seja harmoniosa, evitando que um interfira no
          desenvolvimento do outro.
        </p>
        <p>
          A respeito dos investimentos governamentais para a implantação desses
          sistemas pelos agricultores familiares, Diogo relata que o governo
          federal e estadual têm investido na diversificação da produção, com a
          criação do PRONAP (Produtos Nacionais para Panificação), PNAE (Fundo
          Nacional de Alimentação Escolar) e PAA (Programa de Aquisição de
          Alimentos). Porém, fica à mercê das secretarias das cidades e ONGs
          buscarem por esses recursos.
        </p>
        <p>
          Por fim, Diogo destacou a importância das tecnologias, principalmente
          no ramo da informatização e da robótica para o desenvolvimento da
          agricultura em geral. Por exemplo, os sistemas de irrigação são
          controlados por meio de sistemas via internet ou satélite. Além disso,
          há sistemas que contribuem no controle de pragas ou na manutenção de
          bombas dos poços d 'água.
        </p>
        <p>
          Em um último momento, o agrônomo ressalta a crença de que as
          agroflorestas são a melhor opção para o território de Irecê, pois
          combinam o cultivo sustentável com a preservação do solo e da
          biodiversidade local. Segundo ele, um sistema bem planejado ofereceria
          boa resiliência ao clima semiárido da região, promovendo uma
          agricultura mais equilibrada e produtiva a longo prazo, sem degradar o
          ambiente.
        </p>
    </article>
    <article class="interviews-barra-do-mendes">
      <h2>Entrevistas Barra do Mendes</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com o produtor Eremito</h3>
        <p>
          Eremito Alves Nunes, morador do povoado de São Bento de Barra do
          Mendes, começou a trabalhar com agricultura familiar de sequeiro aos
          14 anos de idade, por volta do início da década de 1970. Em sua roça,
          Eremito cultiva culturas como milho, feijão, batata, banana, melancia
          e mamona, não utilizando fertilizantes, somente adubo.
        </p>
        <p>
          Atualmente, o agricultor possui culturas cultivadas tanto de modo
          sequeiro como também culturas cultivadas através de sistema de
          irrigação. Ele relata a falta de recursos financeiros como a
          justificativa de ainda utilizar o cultivo em sequeiro, mesmo sabendo
          da escassez de chuva na região.
        </p>
        <p>
          Eremito acredita não ser necessário um conhecimento muito específico
          sobre a agricultura para trabalhar no ramo, pois o próprio enfatiza
          que muitas coisas são aprendidas na prática do dia-a-dia. A preparação
          do solo para cultivo é realizada em épocas ideais do ano,
          principalmente para os cultivos em sequeiro. Neste caso, a
          precipitação é o fator que irá definir se as culturas irão render.
        </p>
        <p>
          Apesar de considerar ser possível identificar a época ideal de plantio
          através do tempo/clima, o agricultor relata que, nos últimos anos,
          estes fatores se tornaram cada vez mais imprecisos, levando a perdas
          de safras de culturas não apenas sequeiro, mas até mesmo às irrigadas.
        </p>
        <p>
          Eremito também relata que, nos últimos anos, a frequência das chuvas
          tem diminuído cada vez mais. Por consequência, as produções agrícolas
          têm gerado cada vez menos frutos devido a essas baixas precipitações.
          O mesmo considera que problemas ambientais causados pelo homem, como o
          desmatamento e emissão de gases poluentes na atmosfera, seriam a causa
          dessa desregularização dos períodos de chuva, além dos problemas
          associados à baixa na fertilidade do solo.
        </p>
        <p>
          O agricultor relata já ter ouvido falar no conceito de
          “agroflorestas”. Ele concorda que o intenso desmatamento da
          microrregião de Irecê, muito iniciado na década de 70 para o cultivo
          de feijão, foi um problema muito grande a longo prazo para a
          agricultura do local. O mesmo acredita que as agroflorestas podem ser
          uma interessante alternativa de associar a agricultura ao processo de
          reflorestamento da região, principalmente para as grandes porções de
          terras dos grandes proprietários agrícolas.
        </p>

        <h3>Entrevista com o produtor Genivaldo</h3>
        <p>
          Genivaldo Sodré dos Santos, do município de Barra do Mendes, atua
          trabalhando com agricultura há mais de 35 anos. Ele pratica o cultivo
          com bases agroecológicas na propriedade de seu pai, que é conservada
          há mais de 50 anos. Assim, ele não realiza queimadas ou desmatamento,
          nem o uso de fertilizantes químicos no seu processo de produção, e
          hoje é produtor orgânico certificado. Na área da irrigação, realiza o
          cultivo de banana, aipim, tomate, cebola, maracujá e algumas outras
          espécies frutíferas, já com a produção de sequeiro é cultivada a
          mandioca, milho, mamona e feijão.
        </p>
        <p>
          O produtor relata que para a presença da fertilidade no solo de suas
          terras, é utilizado como meio o esterco, palha de mamona e a
          compostagem, já para o combate de pragas usa-se as chamadas “caudas ”
          naturais, onde não prejudica o meio ambiente nem o solo.
        </p>
        <p>
          Ele relata que mesmo com a escassez das chuvas, devido a falta de
          cuidado com o meio ambiente, a forma de cultivo de sequeiro é algo
          enraizado nos costumes e tradições, sendo assim uma forma de plantio
          importante e necessária, todavia, os resultados finais de produção não
          são mais os mesmo, tendo uma diminuição ao passar dos anos. Além
          disso, também reforça que para obter conhecimentos nesta área é
          necessário estar dentro de uma propriedade de produção e acompanhar
          todo o processo, ou aprender no ensino de escolas técnicas.
        </p>
        <p>
          Na sua região, o começo da preparação para as plantações, inicia-se em
          outubro, com o preparo da terra, utilizando preparação com tratores, e
          em novembro é feito o plantio, com o uso de sementes crioulas,
          aproveitando os tempos de chuva na região. O produtor também relata
          que é possível obter uma noção dos resultados da colheita, a depender
          das chuvas obtidas, porém, em sua percepção nas últimas décadas houve
          grande diminuição na quantidade de chuvas e consequentemente nos
          resultados das colheitas.
        </p>
    </article>
    <article class="interviews-barro-alto">
      <h2>Entrevista Barro Alto</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com Erivaldo</h3>

        <p>
          Erivaldo Medeiros da Silva, produtor de milho da cidade de Barro Alto,
          trabalha com a agricultura há cerca de 8 anos, dedicando-se
          exclusivamente ao cultivo do tipo sequeiro. Erivaldo declara que não
          faz uso de fertilizantes em suas plantações, apoiando-se totalmente
          nos recursos naturais da terra. Quando questionado sobre a razão de
          continuar trabalhando com o cultivo de sequeiro, o produtor explicou
          que a principal dificuldade está na falta de condições financeiras
          para implementar a irrigação, como a perfuração de um poço artesiano,
          o que demandaria investimentos que ele atualmente não pode realizar.
          Apesar dos desafios enfrentados, Erivaldo mantém uma postura otimista
          em relação ao trabalho agrícola. Ele expressou sua crença de que
          qualquer pessoa pode se dedicar à agricultura de sequeiro, desde que
          tenha disposição e boa vontade para aprender.
        </p>
        <p>
          O agricultor destacou que a preparação da terra para o cultivo de
          milho de sequeiro depende fortemente das condições climáticas,
          começando entre setembro e outubro, com o plantio ocorrendo em
          novembro ou dezembro. No entanto, ressaltou que não há garantias de
          que haverá uma safra, devido à imprevisibilidade do clima na região.
          Ele relata também que ao longo dos anos em que atua na agricultura,
          não houve mudanças significativas nas técnicas de plantio utilizadas
          no sistema de sequeiro, o qual continua a seguir métodos tradicionais.
        </p>
        <p>
          Ele alega que nos últimos anos houve uma diminuição significativa no
          cultivo de sequeiro, pois muitos produtores migraram para a irrigação
          em busca de maior segurança na produção, atribuindo essa mudança à
          escassez crescente de chuvas, que, segundo ele, está ligada ao
          desmatamento frequente na região, o que tem impactado negativamente o
          cultivo de sequeiro.
        </p>
        <p>
          Além disso, Erivaldo mencionou que o solo não está mais tão fértil
          quanto costumava ser, o que afeta o desenvolvimento adequado da
          lavoura. Ele destacou que, sem o uso de fertilizantes e com a
          qualidade do solo se deteriorando, o rendimento da lavoura tem sido
          cada vez mais comprometido.
        </p>
        <p>
          O agricultor mencionou conhecer a técnica de plantio em agrofloresta e
          considera a ideia interessante. No entanto, ele acredita que a
          implementação em sua propriedade e na região seria inviável,
          principalmente devido às condições climáticas, com a escassez de
          chuvas. Segundo ele, essa limitação climática dificultaria o sucesso
          do sistema agroflorestal.
        </p>

        <h2>Entrevista Canarana</h2>
        <div class="border">
          <div class="border-line"></div>
        </div>
        <h3>Entrevista com Rubens</h3>

        <p>
          Rubens Paixão da Silva Martins, este produtor relatou que trabalha há
          cerca de oito a dez anos: “Trabalho com agricultura em média de 8 à 10
          anos, sou produtor orgânico certificado de base agroecológica. Estamos
          ligados à rede de agroecologia ‘Povos da Mata’.” Rubens faz citações
          do núcleo em que faz parte, início de uma ação implantada na região
          semiárida, chamada de “Raízes do Sertão”. Complementa sua fala dizendo
          que atua em 13 municípios da região com em torno de cento e noventa
          unidades produtivas credenciadas.
        </p>
        <p>
          O agricultor relatou que sua produção é bastante diversificada,
          buscando evitar a prática de monocultura: “A gente cultiva de tudo um
          pouco, desde hortaliças à olericultura, também o milho, feijão, são
          diversas culturas. A gente trabalha com um leque de culturas, prezamos
          muito pela não prática da monocultura”. Ele ressalta que apesar do
          clima da região ser muito quente, existem solos muito bons, e faz com
          que seja possível plantar de tudo um pouco.
        </p>
        <p>
          Rubens declara que para atuar na área de agricultura orgânica, embora
          não sejam muitos, há certos conhecimentos e práticas que são
          indispensáveis: “Olha, os conhecimentos não são muitos, mas, são
          necessários”. Mesmo não exigindo tanto conhecimento, Rubens faz
          algumas referências de ações práticas essenciais, como: “alguns
          conhecimentos básicos, algumas normativas que agente tem que
          respeitar, quanto a abolição de fogo, que é uma das práticas, o não
          uso de agrotóxicos e nem de fertilizantes químicos, defensivos
          naturais, de correções de solo a base de microrganismos, compostagens,
          uso de pó de rocha, as nossas práticas mais são essas”, e no seu ponto
          de vista, o conhecimento vai se adquirindo aos poucos, o foco está nas
          normativas que devem ser cumpridas.
        </p>
        <p>
          Segundo ele, é importante manter uma produção escalonada, ou seja, que
          consiga acompanhar a demanda do mercado de forma constante, garantindo
          assim um fluxo permanente de produtos frescos e com qualidade. “Nós
          temos um entreposto, fica localizado em Irecê, onde a gente reúne a
          produção da região pra mandar tanto para atender as feiras quanto pra
          mandar para os comércios de Salvador, de Feira de Santana onde a gente
          tem alguns clientes ou para alguns clientes de outros estados, como
          Petrolina”.
        </p>
        <p>
          Quando dito sobre as questões climáticas da região de Irecê, ele foi
          sincero e claro ao retratar as grandes dificuldades que enfrentam com
          a imprevisibilidade do clima: “Sim, o clima interfere um pouco,
          influencia bastante quanto as nossas produtividades, mas, a gente
          também já trabalha com essa margem de segurança, para suprir as
          dificuldades que são causadas pelo clima, pelas pragas. A gente não
          tem como prever se a safra vai ser boa ou não, porque a gente tem
          muitas adversidades, além do clima. Temos dificuldades na época de
          seca por causa do clima muito seco, muito quente, e a gente também tem
          muita dificuldade na época de chuva, por conta do aumento da umidade,
          mas, a gente trabalha em cima de um cronograma de plantio, já
          calculando essas margens”.
        </p>
        <p>
          Ao longo da entrevista, Rubens comentou também sobre a evolução das
          técnicas agrícolas utilizadas em sua propriedade ao longo dos anos :
          “A gente foi se adaptando, às práticas, fomos modernizando também, com
          o uso de máquinas, algumas até rustica de fabricação caseira, mas que
          facilitou muito no no dia-a-dia, diminuindo muito a mão de obra
          braçal, plantadeiras, capinadeiras, motoquinho motocultivadores ou
          tratoritos, facilitando o trabalho e proporcionando também uma maior
          produtividade”. “ Dentro da nossa prática de agricultura houve um
          aumento na produtividade, até mesmo porque fomos buscando mais mercado
          e nos deu a condição de expandir mais um pouco a produção”.
        </p>
        <p>
          A busca sobre as mudanças padrão das chuvas com o passar dos anos,
          revela uma preocupação clara e óbvia na fala de Rubens. "Sim, é
          perceptível aqui principalmente na nossa região o aumento da escassez
          de chuva". Ele afirma que, em anos anteriores, houve sim chuvas
          intensas, mas que ocorreram em períodos curtos, “faz com que a gente
          fique mais inseguro”.
        </p>
        <p>
          Na opinião de Rubens a ação do homem influencia muito para a redução
          das chuvas: “Eu acho que as ações do homem, principalmente o
          desmatamento, com a não preservação das matas ciliares principalmente,
          queimadas, algumas práticas que vem usos de agrotóxicos, também que
          diminui a incidência de fauna nas áreas, diminui o habitat natural,
          fazendo com que as espécies migrem ou até mesmo morram”. Ele afirma
          que essas ações impactam diretamente no equilíbrio ambiental, afetando
          negativamente a fauna local.
        </p>
        <p>
          Quando perguntado sobre o solo, Rubens foi esperançoso em relação às
          práticas adotadas em sua propriedade, destacando que o cuidado com o
          solo é uma prioridade na agricultura orgânica: “Dentro da nossa
          prática, sim, num contexto geral, não, mas dentro das nossas práticas
          de agricultura orgânica e de base agroecológica, sim, porque, o nosso
          principal trato é com o solo, então o nosso maior trunfo é justamente
          esse, cuidar do solo.”
        </p>
        <p>
          O produor agrícola acha que as práticas sobre agroflorestas são
          viáveis em sua propriedade. Rubens confia que, no seu caso específico,
          seria uma boa alternativa: “ Na minha propriedade em específico, sim,
          porque vai atrair fauna, vão ser plantadas principalmente plantas
          nativas e frutíferas”. Acrescenta ele: “melhorar seu solo por conta da
          fixação de água, da cobertura do solo por conta das próprias plantas,
          não vai deixar o solo nu, então eu acho que é uma prática viável, pra
          minha propriedade em específico, pra outras propriedades talvez não,
          seja por conta de recursos hídricos, porque com a escassez das chuvas
          dificilmente você vai conseguir manter um sistema desses, sem
          irrigação”.
        </p>
        <p>
          Por fim, foi perguntado se ele acredita que cada vez mais agricultores
          estão migrando para a produção orgânica. Ele destaca os principais
          benefícios para ter uma boa saúde e o mercado crescente para esse tipo
          de produto: “No meu ponto de vista, a adesão de agricultores a esse
          sistema de produção tem sido muito grande por conta da segurança
          alimentar, na qualidade do produto e no preço do produto em si.”
        </p>
        <p>
          A entrevista conclui com Rubens reforçando seu ponto de vista, uma
          visão otimista em relação à agricultura orgânica e agroecológica,
          destaca também a grande importância dessas práticas para um futuro
          mais sustentável da agricultura na região de Irecê.
        </p>
    </article>
    <article class="interviews-ibitita">
      <h2>Entrevista Ibititá</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com Antônio Silva</h3>

        <p>
          Antônio Silva, atuante na agricultura de sequeiro há mais de quarenta
          anos, relata que cultiva basicamente milho, mamona e feijão. Ele não
          faz uso de fertilizantes, pois afirma que nunca precisou usá-los. Além
          disso, ele relata que trabalha com o cultivo de sequeiro, afirmando
          que não cultiva irrigado pois no ambiente onde são produzidas as
          culturas não há água suficiente para a irrigação, segundo ele,
          torna-se necessário “aventurar” na agricultura de sequeiro.
        </p>
        <p>
          Segundo o senhor Antônio, o plantio de sequeiro é mais simples, pois o
          agricultor apenas prepara a terra em meados de setembro a outubro e
          espera a chuva. As técnicas de plantio para se produzir a lavoura de
          sequeiro, gira em torno de arar ou gradear a terra em setembro ou
          outubro, e não é possível prever se haverá uma boa colheita, como
          acontece com a agricultura irrigada, pois depende exclusivamente da
          chuva, desse modo, agricultores tentam apenas consultar previsões do
          tempo para ter noção de como será a colheita.
        </p>
        <p>
          Ao longo dos anos, de acordo com seu relato houve mudanças nas
          sementes e no modo de cultivar, tendo em vista que antigamente eram
          poucos os agricultores que usavam tratores e máquinas agrícolas e as
          sementes não era tão boas como hoje em dia, porém devido às mudanças e
          chuvas irregulares, atualmente não temos uma produção de sequeiro como
          muitos previam na década de 80 e 90, período em que havia uma
          realidade diferente em relação ao clima. Sendo assim, hoje possuímos
          maquinários avançados, sementes melhores, no entanto a irregularidade
          das chuvas prejudicam a lavoura.
        </p>
        <p>
          Por fim, Antônio Silva trás o seu ponto de vista sobre as
          agroflorestas. Ele diz que não tem muito conhecimento sobre o sistema
          de cultivo, mas acredita ser um sistema de produção promissor, e que
          poderá ajudar na agricultura de forma geral.
        </p>
    </article>
    <article class="interviews-irece">
      <h2>Entrevista Irecê</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com Edivanildes e Vilson</h3>

        <p>
          Em entrevista com os agricultores Edivanildes Guedes Rocha dos Santos
          e Vilson Apolinário Guedes, produtores de sequeiro, sendo que
          Edivanildes começou a trabalhar em 2020, e Vilson em 1964. Ambos
          realizam juntos o cultivo de mamona, milho, feijão e feijão de corda.
          Os entrevistados relataram que não fazem uso de nenhum tipo de
          agrotóxico ou fertilizante químico.
        </p>
        <p>
          Além disso, eles relataram que mesmo tendo em vista a escassez de
          chuvas na região, eles não optaram por mudarem o modo de cultivo para
          a irrigação devido a falta de acessibilidade e recursos. Os
          agricultores mantêm uma visão otimista acerca da iniciativa do cultivo
          da terra, afirmando que para trabalhar com a agricultura familiar é
          necessário ter coragem e saúde.
        </p>
        <p>
          Ademais, eles afirmaram que o início do preparo do solo ocorre entre
          os meses de setembro e outubro, possibilitando que em novembro
          inicia-se o plantio. Este só é iniciado quando ocorre precipitação
          suficiente de chuva, pois nas palavras de Vilson: “Não se pode plantar
          no seco. (...) A gente tem que esperar e ver quantos milímetros de
          chuva cai para a gente poder plantar para nascer.”
        </p>
        <p>
          Quando perguntado sobre a possibilidade de prever se haverá safra com
          base nas condições de tempo e clima, ele destacou que a observação
          desses fatores é fundamental para o sucesso do plantio. Segundo eles,
          essa previsão é feita ao analisar a temperatura e os períodos das
          queimadas, que ajudam a determinar a probabilidade de uma boa safra.
          Vilson observa que houve uma diminuição na produção ao longo dos anos,
          devido à falta de chuvas que não permitem o bom desenvolvimento da
          safra. “É a falta de chuva. (...) A chuva é pouca, bate no chão e logo
          seca a terra, aí não tem como o produto ir à frente”. O produtor
          ressalta ainda que com a escassez das chuvas na região, os meses de
          plantio da lavoura mudaram, passando a acontecer nos meses de dezembro
          e janeiro.
        </p>
        <p>
          Ele explica que a diminuição das chuvas está diretamente relacionada
          ao desmatamento: “. O desmatamento está tão grande que por causa
          disso, está tendo pouca chuva.”. Vilson relata também que os solos já
          não são tão férteis, estão mais secos devido a falta de umidade. Além
          disso, a temperatura tem ficado muito mais alta, e ele observa que, no
          passado, suportavam mais tempo trabalhando ao ar livre, mas hoje em
          dia isso se tornou mais difícil devido ao calor intenso em nossa
          região.
        </p>
    </article>
    <article class="interviews-souto-soares">
      <h2>Entrevistas Souto Soares</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com Valdice Medeiros</h3>

        <p>
          Em entrevista com a produtora de sequeiro Valdice Medeiros, que atua
          nesta área da agricultura em média há 30 anos, é relatado que mesmo
          sem o uso de fertilizantes para o cultivo de suas plantações, a
          produtividade de suas terras vem se debilitando ao longo dos anos, com
          isso, abandonou a plantação de feijão, realizando agora apenas a
          plantação de mamona
        </p>
        <p>
          Segundo ela, é necessário uma série de conhecimentos sobre o clima e
          preparação da terra, para que a plantação seja realizada, onde em sua
          região, de Souto Soares esse processo é iniciado nos meses de setembro
          e outubro, para que em novembro e dezembro, nos meses de chuva seja
          realizada a plantação aproveitando a molhação da terra para conseguir
          a colheita da mamona, porém, caso essa molhação não venha a ser a
          esperada, é tido em conta que os resultados da colheita serão
          reduzidos, pela perda de grande parte da plantação.
        </p>
        <p>
          A agricultora relata a sua preocupação com o desmatamento, com a
          escassez de chuva e com o aquecimento global, fatores nos quais ao seu
          ver, trazem o empobrecimento do solo, e que em cerca de 15 anos houve
          uma drástica mudança no clima e no solo, o que impactou bastante nos
          bons resultados da colheita.
        </p>
        <p>
          Além disso, também é visto a mudança na implementação das técnicas de
          plantação, onde, nos dias atuais, somente o uso de ferramentas
          agrícolas como as enxadas não são mais suficientes para o preparo das
          terras, já que as mesmas estão secas e compactadas, sendo necessário o
          uso das máquinas agrícolas para essa preparação.
        </p>
        <p>
          Por fim, Valdice Medeiros trás o seu ponto de vista sobre as
          agroflorestas. Ela relata não ter muito conhecimento sobre tal modelo
          de cultivo, e como ele pode ser implementado no lugar em que ela mora,
          porém, ela diz pensar que na região de Irecê não seria possível, já
          que é uma região seca e com poucas chuvas.
        </p>

        <h3>Entrevista com José Fortunato</h3>

        <p>
          Em entrevista, o produtor de sequeiro José Fortunato Alves de Góis,
          que atua na produção agrícola desde os seus 13 anos de idade, relata
          que cultiva feijão, milho e mamona sem o uso de fertilizantes,
          afirmando que essa prática é mais comum para a cultura irrigada. O
          agricultor explica que embora a produção tenha diminuído em relação ao
          passado, ele continua na agricultura sequeira, pois é a sua profissão
          e principal fonte de sustento.
        </p>
        <p>
          Segundo ele, para trabalhar com esse tipo de produção agrícola, é
          necessário ter conhecimentos básicos, como plantar o produto na época
          certa, esses que ele aprendeu com os pais desde pequeno. Aos olhos do
          produtor, houve uma evolução nas técnicas utilizadas para o plantio ao
          longo dos anos, José comenta que, no passado, havia um período
          específico para preparar a terra, já que as chuvas eram mais
          previsíveis. Mas, ultimamente houve uma diminuição na frequência de
          chuvas, em suas palavras, “[...] os tempos mudaram...”, tornando o
          clima mais imprevisível. De acordo com ele, a época ideal para o
          plantio costuma ser a partir de outubro, quando se espera a chegada
          das chuvas na região.
        </p>
        <p>
          Devido à essa falta de chuvas, José compartilhou também que a produção
          diminuiu muito com o passar dos anos. Para ele essa falta se dá pelas
          ações do ser humano, que desmata desenfreadamente e sem pensar. Por
          fim, o produtor expressou sua opinião sobre as agroflorestas, segundo
          ele, trata-se de uma técnica já conhecida, que tem potencial para
          melhorar as condições da produção agrícola.
        </p>

        <h3>Entrevista com José Arlindo</h3>

        <p>
          Em entrevista com o produtor José Arlindo, que trabalha há 27 anos na
          produção agrícola irrigada na região de Soares, relata que cultiva
          tomate, cebola, beterraba e cenoura, faz o uso de fertilizantes, pois
          segundo ele fez-se necessário devido a cada vez mais a insuficiência
          dos nutrientes do solo, para ter uma produção garantida foi preciso
          seu uso.
        </p>
        <p>
          Para o tipo de produção agrícola que ele trabalha, que é a irrigada,
          os conhecimentos necessários ele tomou com um agrônomo dessa área e um
          técnico agrícola, começou por necessidade de trabalho ao ouvir de
          outros amigos que também haviam começado, e então perdurou até os dias
          de hoje. Atualmente possui uma roça na qual existem pessoas que
          realizam o plantio dos alimentos, e a comercialização para a região.
        </p>
        <p>
          Durante a conversa, José compartilhou suas experiências sobre as
          técnicas utilizadas para o plantio, e como elas mudaram bastante no
          decorrer dos anos, principalmente em questão de equipamentos. No seu
          plantio hoje, o terreno é preparado com um trator e para o começo da
          planta usa-se adubos. Para a previsão de safra de acordo com o tempo,
          ele afirmou que, é possível sim prever, se haverá chuva é bom, ela
          pode vim tanto para a melhoria da produção, quanto para a destruição
          das culturas. Devido a insuficiência de chuvas na região, o produtor
          trabalha com o tipo de produção irrigada.
        </p>
        <p>
          Além disso, foi interessante ouvir José falar sobre que a diminuição
          das chuvas está ligada ao desmatamento, ele acompanha as pessoas que
          trabalham com meio ambiente divulgarem isso na televisão, por exemplo.
        </p>
        <p>
          Quando questionado sobre se os solos se encontram tão férteis como
          antes, José explicou que, “Não, a gente vai trabalhando e o solo vai
          se estragando”. Essa frase resume bem como o empobrecimento do solo
          afeta as produções agrícolas com o passar dos anos. Havendo a
          necessidade de mudar a forma de preparar a terra para o plantio,
          segundo ele é preciso ir mudando os tipos de culturas, porque plantar
          uma só não dá certo.
        </p>
        <p>
          Por fim, o produtor deu a sua opinião sobre as agroflorestas, segundo
          ele, na região não se fala muito sobre isso, além de ser caatinga, nas
          suas palavras, “Aqui na região desmataram muito antes, e por isso que
          é assim [...]”. Mas apesar disso, o produtor acha importante esse
          sistema, e quando perguntado se seria viável implantá- lo na sua roça
          ele comenta que acha interessante.
        </p>
    </article>
    <article class="interviews-uibai">
      <h2>Entrevistas Uibaí</h2>
      <div class="border">
        <div class="border-line"></div>
      </div>
        <h3>Entrevista com Enilton</h3>

        <p>
          Enilton Costa Bessa, morador do povoado de Caldeirão de Uibaí, começou
          a trabalhar com agricultura familiar de sequeiro aos 14 anos de idade,
          em 1991. Apesar da escassez de chuva na região ele e muitos outros
          agricultores optaram por continuar com o cultivo em sequeiro devido a
          falta de recursos, ele afirmou que “é um investimento que não vale a
          pena”, pois a água no subsolo não é suficiente para suprir as
          necessidades do cultivo.
        </p>
        <p>
          A preparação do solo inicia-se por volta do mês de outubro ou
          novembro, variando de acordo com o tempo. Após a primeira chuva ele
          realiza a gradagem, e logo após o plantio. A safra depende da
          quantidade de precipitação nesse período, uma vez que ele não utiliza
          irrigação.
        </p>
        <p>
          Para saber o período em que deve-se iniciar o processo de plantio,
          observa-se o tempo, hoje em dia tanto através da previsão do tempo
          divulgada nos jornais na televisão, quanto por meio das observações
          dos chamados “ventos do norte” e dos relâmpagos nessa mesma direção, o
          qual trata-se de uma percepção adquirida ao longo do tempo pela
          população local que indica a chegada das chuvas.
        </p>
        <p>
          De acordo com o agricultor, não é possível prever se vai ou não haver
          safra de início, apenas com o decorrer do tempo, uma vez que a
          produção demora cerca de 3 meses para ocorrer. De acordo com Enilton
          “Talvez o tempo começa bonito e depois muda”, ou seja, há uma
          imprevisibilidade pois a priore o tempo pode parecer promissor para a
          produção, porém isso pode mudar com o passar dos dias. Ademais, ele
          afirmou que ao longo dos anos essa aleatoriedade do tempo aumentou, de
          acordo com ele “às vezes chove uma semana e fica vinte dias sem
          chover”.
        </p>
        <p>
          Além disso, de acordo com a concepção dele, essa diminuição e
          irregularidade nas chuvas foi proveniente do desmatamento, ou seja, da
          diminuição da vegetação, e isso foi claramente percebido ao longo dos
          anos. Ele afirmou que hoje em dia não acontece mais as chamadas
          “invernadas ou chuvas de inverno”, que tratam-se de chuvas leves e
          contínuas em forma de garoa que duravam dias consecutivos.
        </p>
        <p>
          Ademais, também de acordo com o agricultor o solo encontra-se menos
          fértil, ele declara que “não há muita palha cobrindo a terra, e por
          isso ela está mais fraca”. Ele acredita que isso é um fator que
          contribui para o aumento do uso de fertilizantes químicos. Além disso,
          ocorre também o aumento no uso de agrotóxicos, que de acordo com
          Enilton está relacionado com “as pragas que vem das sementes de fora
          (estrangeiras)”, que são as sementes transgênicas atualmente muito
          utilizadas por agricultores.
        </p>
        <p>
          Por fim, após lhe ser apresentado os sistemas de agrofloresta como uma
          alternativa de produção ele defendeu que é inviável para o lugar onde
          ele vive, uma vez que o clima é muito quente e seco, logo não há água
          suficiente que permita o crescimento de uma planta “embaixo da outra”.
          Ele acredita que esse sistema de cultivo só seria possível na região
          caso utilizassem a irrigação, para garantir que as plantas obtivessem
          água suficiente para seu desenvolvimento.
        </p>

        <h3>Entrevista com Domingos</h3>

        <p>
          Domingos Machado Primo, morador do povoado de Caldeirão de Uibaí,
          possui 78 anos. Ele trabalha com agricultura familiar desde de
          criança, como cultivo de sequeiro. Trabalhava principalmente com o
          cultivo de milho, e um pouco de feijão, mandioca, porém em menor
          quantidade. Nunca utilizou nenhum tipo de fertilizante químico ou
          agrotóxico em suas plantações. Ele acredita que o motivo pelo qual a
          maioria dos agricultores da região continuam trabalhando com sequeiro
          é por uma questão cultural e familiar, tendo em vista que foram
          ensinando desde muito jovens essa forma de cultivo. Além disso, ele
          afirmou que as técnicas utilizadas no manejo da terra foram passadas
          de pai para filho, ou seja, de geração para geração.
        </p>
        <p>
          Ademais, ele afirma que no passado todo o preparo da terra e o plantio
          era realizado a mão, com o uso de enxadas e equipamentos manuais,
          entretanto, com o passar dos anos, novos equipamentos foram adquiridos
          pelos agricultores locais, por exemplo, os tratores. Outrossim, o
          entrevistado defende que antigamente, sabia-se quando começar a arar a
          terra e plantar com precisão, tendo em vista que as chuvas eram
          controladas. Assim, por volta de setembro iniciava-se as chamadas
          “chuva do umbus”, que indicavam o início da preparação do solo para a
          plantação, e por volta do dia 20 de outubro inicia-se o plantio com a
          certeza de que em novembro haveria chuva e consequentemente colheita.
        </p>
        <p>
          O entrevistado também relatou sentir uma grande mudança das chuvas, de
          acordo com ele “a chuva está ficando pouca e diferente. Nas chuvas de
          setembro, quando era no dia 15 ou 20 de setembro, por aí, começavam a
          levantar as nuvens, uma carreira de nuvens, atrás da serra e vinha
          subindo para cá, não falhava de jeito nenhum”. Assim, ele afirmou que
          as chuvas estão irregulares, normalmente acompanhadas por ventos. Ele
          acredita que esses problemas com a falta de chuva e as chuvas rápidas
          estão muito ligados ao desmatamento e às queimadas sem controle. Essa
          situação levanta preocupações sobre como as futuras gerações
          conseguirão viver diante desses problemas que se agravam
          continuamente. Ele fala que, sem chuva, não tem como produzir, porque
          a água é fundamental para quem planta em sistema de sequeiro.
        </p>
        <p>
          Ele também comenta que a terra está mudando por causa dos poços que
          sugam a umidade e pela chegada de sementes de fora. Tem lugares onde
          nem vale a pena plantar, porque nada cresce. Ele não sabe se um dia as
          coisas vão voltar a ser como eram, já que tudo está muito diferente
          hoje em dia.
        </p>
        <p>
          Quando perguntaram se ele acha que dá para criar um sistema florestal
          na região, ele acredita que sim, desde que tragam as mudas certas e as
          árvores nativas. Ele enfatiza que, para reflorestar, é importante ter
          animais, porque, sem eles, o fogo pode acabar com tudo. É preciso ter
          as plantas nativas e os animais, já que as plantas de fora não
          conseguem se adaptar.
        </p>
        <p>
          Ele percebeu que as mudanças nas chuvas começaram a ser notáveis a
          partir de 1976. Ele acredita que, se começarem a usar sistemas
          agroflorestais que devolvem nutrientes ao solo, isso pode ajudar muito
          a melhorar a situação.
        </p>
    </article>
  </div>
</main>
<app-footer></app-footer>
