<header>
  <img
    src="images/GREEN-CODE-WORD-PNG-2.png"
    alt="Foto do logo da Green Code"
    class="logo"
  />
  <div class="buttons">
    <a href="/">
      <button>Voltar para a página inicial</button>
    </a>
  </div>
</header>
<main>
  <div class="container">
    <div class="container-content">
      <h1 class="title">Quem somos?</h1>
      <p>
        A turma do terceiro ano de Informática A do IFBA é responsável pela
        criação da "Green Code", um grupo focado em desenvolver projetos
        voltados à conscientização ambiental. Nosso principal projeto atual
        aborda as agroflorestas, oferecendo um acervo digital de informações
        sobre essa prática sustentável. O objetivo é apresentar alternativas
        ecológicas que promovam a convivência harmônica entre agricultura e meio
        ambiente. Trabalhamos com dedicação e conhecimento técnico para fomentar
        uma mudança positiva no uso do solo. A Green Code está empenhada em usar
        a tecnologia a favor do planeta, propondo soluções inovadoras e
        acessíveis.
      </p>
    </div>
    <div class="container-students">
      <div class="container-students-background">
        <img
          src="images/turma.jpg"
          alt="Foto da turma"
          class="students-image"
        />
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
