<header>
  <img src="" alt="Foto do logo da Green Code" class="logo">
  <a href=""><button>Página incial</button></a>
</header>
<main>
  <div class="container">
    <div class="container-content">
      <h1> Quem somos? </h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam, augue a consequat luctus, ligula dolor fermentum orci, quis lacinia lorem nisi eget dui. Nulla dolor mi, fringilla ac venenatis et, dignissim at massa. Praesent tristique consectetur blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut est est, gravida id commodo in, sollicitudin eu nisi. Duis commodo sagittis lectus, ut tincidunt nunc commodo accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vehicula in orci nec convallis. Nunc vitae viverra lorem. Phasellus semper sapien nec neque lobortis, quis varius leo iaculis. </p>
      <p> Aliquam cursus a erat eu suscipit. Vestibulum metus orci, ultrices rhoncus sapien a, vehicula eleifend neque. Integer ultricies, erat vel feugiat dictum, ligula neque lobortis metus, ut pulvinar lacus enim a odio. Praesent nunc ligula, ultricies porta sodales a, sollicitudin vel sem. Morbi egestas urna sit amet pulvinar porta. Etiam ultricies in erat a imperdiet. Nunc malesuada euismod turpis, eget porttitor nibh vehicula quis. Etiam quis pellentesque tortor. Curabitur at ligula vitae odio mollis blandit ut ut elit. Curabitur odio dolor, facilisis ac nulla in, cursus molestie sem. </p>
    </div>
    <div class="container-students">
      <img src="" alt="Foto da turma" class="students-image">
    </div>
  </div>
</main>
<app-footer></app-footer>
