<footer>
  <div class="contact-us">
    <h1> Contato </h1>
    <div class="contact-us-icon-text">
      <img src="images/email-icon.png" alt="Foto do ícono de email" class="email-icon"/>
      <p> sncetirece&#64;ifba.edu.br </p>
    </div>
  </div>

  <div class="address">
    <h1> Endereço </h1>
    <div class="address-icon-text">
      <img src="images/location-icon.png" alt="Foto do ícone de localização" class="localization-icon"/>
      <p> IFBA - Campus, R. Bem-Te-Via, 448 </p>
    </div>
    <p class="city">Irecê - BA</p>
    <p class="cep">44900-000</p>
  </div>

  <div class="follow-us">
    <h1> Rede social </h1>
    <a href="https://www.instagram.com/infofocass/profilecard/?igsh=YmFiMHdjZDR0bTNh"><img src="images/instagram-icon.png" alt="Foto do ícone da rede social" class="social-media-icon"></a>
  </div>

  <div class="border">
    <div class="border-line"></div>
    <p> &copy; 2023 Green Code. All rights reserved. </p>
  </div>
</footer>
