header {
  background-color: var(--tertiary-color);
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 30px;
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: var(--primary-text-color);
}

.navbar-links a:hover {
  text-decoration: underline;
}