header {
  background-color: var(--background-color);
  padding: 10px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 30px;
  height: auto;
}

header .navbar .button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header .navbar .button:hover {
  background-color: var(--quaternary-color);
  transform: translateY(-3px);
  color: var(--primary-color);
  font-weight: 600;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  cursor: pointer;
  color: var(--quaternary-color);
}

.navbar-links a:hover {
  /*Colocar efeito nos links do header*/
}