<div class="content-container">
  <section class="introduction-section">
    <div class="red-line">
      <h2 class="introduction-title">
        Produção de alimentos e o cultivo da terra: onde vamos parar?
      </h2>
      <h3 class="introduction-subtitle">
        Ao longo dos anos, o território de Irecê, reconhecido pelo cultivo
        diversificado de culturas, vem mudando sua forma de produzir alimentos,
        o que desencadeou uma série de prejuízos para o bioma local. Diante
        disso, o site apresenta uma pesquisa detalhada acerca dessa transição no
        cultivo de alimentos, bem como seus impactos sociais, econômicos e
        ambientais para a região. Ademais, como forma de mitigar paulatinamente
        esse problema, é proposto a implantação das agroflorestas ou Sistemas
        Agroflorestais (SAFs) voltados para a agricultura familiar, promovendo a
        conservação do ambiente e da biodiversidade, atrelado a um retorno
        financeiro.
      </h3>
    </div>
    <img src="images/AGROFLORESTA.png" alt="agrofloresta" class="main-image" />

    <div class="btns">
      <a href="https://www.youtube.com/@GREENCODE-SNCT2024"><button class="youtube-button">Youtube</button></a>
      <a href="/materiais"><button class="text-button">Materiais completos</button></a>
    </div>
  </section>

  <div class="contributors-container">
    <h1 class="contribuitors-title">NOSSOS CONTRIBUIDORES</h1>
    <p class="contribuitors-subtitle">
      Este projeto contou com a colaboração de três contribuintes principais e o
      apoio de várias outras pessoas, cuja dedicação foi essencial para o seu
      sucesso.
    </p>
    <section class="contribuitors-section">
      <div class="contribuitor">
        <p class="contribuitor-name">Diego Miranda</p>
        <span class="contribuitor-graduation">Agroecólogo especialista em desenvolvimento territorial sustentável</span>
        <img
          src="images/DIEGO-2.png"
          alt=""
          class="contribuitor-image diego-imagem"
        />
      </div>

      <div class="main-contribuitor">
        <p class="contribuitor-name">Maxmiller Souza</p>
        <span class="contribuitor-graduation">Químico e professor do IFBA</span>
        <img
          src="images/MAX-2.png"
          alt=""
          class="contribuitor-image max-imagem"
        />
      </div>

      <div class="contribuitor">
        <p class="contribuitor-name">Diogo Carvalho</p>
        <span class="contribuitor-graduation">Engenheiro agrônomo e professor de agropecuária</span>
        <img
          src="images/DIOGO.png"
          alt=""
          class="contribuitor-image diogo-imagem"
        />
      </div>
    </section>
  </div>

  <div class="text-container">
    <section class="content-section">
      <article>
        <h1 class="title">QUAL PROBLEMA NÓS OBSERVAMOS?</h1>
        <p class="text">
          A agricultura familiar é uma atividade essencial para diversas
          famílias no território de Irecê, sendo, em diversos casos, a principal
          fonte de renda. O método de plantio mais tradicional para esses
          produtores é o cultivo de plantações por sequeiro, que consiste em um
          sistema de cultivo que depende exclusivamente das chuvas naturais para
          o fornecimento da água utilizada na regagem. Com o avanço das
          tecnologias agrícolas, o método de plantação por irrigação surgiu
          nesse meio e se consolidou, oferecendo maior segurança na produção
          agrícola. Isso é possível graças à aplicação de técnicas avançadas que
          asseguram um fornecimento contínuo e controlado de água,
          independentemente das variações climáticas.
        </p>
        <p class="text">
          Apesar de suas diferenças operacionais, ambos os métodos podem gerar
          impactos ambientais significativos. As plantações irrigadas, apesar de
          oferecerem maior previsibilidade e eficiência na produção, dependem
          intensivamente de recursos hídricos, que podem acarretar a exploração
          excessiva do meio ambiente, especialmente em áreas com escassez de
          água. Esse processo pode resultar na salinização do solo, onde sais
          trazidos pela água subterrânea se acumulam na superfície, reduzindo a
          fertilidade do solo e dificultando o desenvolvimento das plantas.
        </p>
        <p class="text">
          Por outro lado, as plantações de sequeiro apresentam seus próprios
          desafios ambientais, porém tão prejudiciais quanto aqueles causados
          pelo método de irrigação. A erosão do solo é um problema recorrente,
          especialmente em áreas onde a vegetação nativa foi retirada para dar
          lugar ao plantio, comprometendo a estrutura do solo e aumentando sua
          vulnerabilidade à degradação. Esse processo acaba contribuindo também
          para a lixiviação de nutrientes e compactação do solo, ocasionados
          devido ao uso contínuo da terra sem nenhuma técnica de cuidado ou
          conservação.
        </p>
        <p class="text">
          Embora os impactos sejam diferentes, ambos os métodos apresentam
          riscos ambientais consideráveis. Por isso, é crucial desenvolver e
          adotar técnicas inovadoras para a região, visando o bem-estar do meio
          ambiente, conciliando a agricultura com a preservação ecológica.
        </p>
      </article>

      <article>
        <h1 class="title">NOSSA PESQUISA</h1>
        <p class="text">
          Esta pesquisa foca na transição agrícola no território de Irecê, onde
          houve uma mudança do cultivo tradicional de sequeiro para os sistemas
          de irrigação. Essa transformação foi impulsionada pela escassez de
          chuvas, mas também por outros fatores ambientais, como a degradação do
          solo após anos de práticas agrícolas inadequadas, como o desmatamento
          e a monocultura que contribuíram para a erosão e perda de fertilidade
          do solo. Esses fatores forçaram os produtores a adaptarem suas
          técnicas de cultivo de feijão, mamona, milho e cebola, que são de
          vital importância para a economia do território de Irecê.
        </p>
        <p class="text">
          A investigação envolve entrevistas com os produtores rurais de alguns
          municípios do território de Irecê, como América Dourada, Barra do
          Mendes, Barro Alto, Canarana, Ibititá, Irecê, Souto Soares e Uibaí,
          que compartilham suas experiências e os impactos que essas mudanças
          trouxeram para suas vidas e para o bioma da caatinga. Além disso,
          também realizamos entrevistas com especialistas, sendo um agroecólogo
          e um agrônomo, para obter uma visão técnica mais aprofundada sobre as
          consequências dessa transição.
        </p>
        <p class="text">
          Além de documentar as práticas e histórias agrícolas, a pesquisa
          também busca apresentar soluções sustentáveis, com foco nos sistemas
          agroflorestais. Com o objetivo de promover uma agricultura mais
          adaptada ao semiárido, preservando o meio ambiente e garantindo a
          viabilidade econômica e social das comunidades locais.
        </p>
      </article>

      <article>
        <h1 class="title">SOLUÇÃO: AGROFLORESTAS</h1>
        <p class="text">
          Como alternativa para mitigar progressivamente esses problemas
          mencionados anteriormente, a implantação de Sistemas Agroflorestais é
          uma das melhores opções. Esses sistemas utilizam e ocupam o solo de
          modo que haja a integração de diversos tipos de plantas nativas, com
          plantas lenhosas perenes juntamente com herbáceas, forrageiras,
          culturas agrícolas e/ou integrado com a criação de animais, a
          apicultura e a meliponicultura. Essa forma de cultivo busca
          “reproduzir” o ecossistema de uma florestas, promovendo, além da
          produção de culturas que geram lucro economicamente, uma grande
          diversidade e proteção à natureza.
        </p>
        <p class="text">
          Ademais, esse modelo de cultivo utiliza os recursos hídricos de
          maneira sustentável e responsável, evitando desperdícios e garantindo
          seu aproveitamento máximo, tornando-se, assim, uma solução mais
          eficaz. Logo, utiliza-se bastante o gotejamento atrelado com a
          cobertura vegetal do solo que permite que a água seja melhor
          aproveitada pela planta, uma vez que a serapilheira serve como uma
          barreira que cobre o solo impedindo que toda a água evapore.
        </p>
        <p class="text">
          Outrossim, o processo de desertificação do solo no território de Irecê
          é agravado por práticas como o desmatamento, uso de maquinários
          pesados, queimadas e uso contínuo da terra, característicos das formas
          de cultivo utilizados atualmente na região. Em contrapartida, as
          agroflorestas possuem um tratamento diferente em relação ao solo,
          tratando-o como um elemento vivo, uma vez que este é repleto de
          microorganismos fundamentais para o solo e plantas.
        </p>
        <p class="text">
          Dada a relevância da implantação desses sistemas, é fundamental que
          ela ocorra em especial na agricultura familiar, pois, contribui
          diretamente para a segurança alimentar, tendo em conta que, esta é a
          base e de onde se obtém a massante maioria dos produtos agrícolas
          consumidos na região. Para isso, é crucial que haja assistência
          técnica especializada e ecológica, já que os sistemas agroflorestais
          representam uma mudança significativa nas práticas de manejo e
          cultura.
        </p>
        <p class="text">
          À vista disso, as agroflorestas são uma solução ética ambiental e
          social ecológica, que proporciona renda sustentável a longo prazo,
          sendo economicamente viáveis para os pequenos agricultores.
        </p>
      </article>
    </section>
  </div>
</div>
