/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #167b1b;
  --secundary-color: #454545;
  --tertiary-color: #000000;
  --quaternary-color: #fafafa;
  --background-color: #e6e6d5;
  --bege-color: #f5dfae;
  --light-grey: #636363;
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: Roboto;
}

body {
  background-color: var(--background-color);
}